[Unit]
Description=FUSE filesystem over Google Drive
After=network.target

[Service]
User=fred
Group=fred
ExecStart=/usr/bin/google-drive-ocamlfuse -label default /home/fred/mount/Obsidian
ExecStop=fusermount -u /home/fred/mount/Obsidian
Restart=always
Type=forking

[Install]
WantedBy=multi-user.target
Alias=google-drive.service
